h2
{
    color:rgb(0, 0, 0);
}

.Estudiante
{
    background-color: rgb(211, 212, 212);
    border-radius: 2px;
}

.subtitulo
{
    color:purple;
    font-family: cursive;
    font-size: x-large;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.email:hover
{
    color:blue;
}

.github:hover
{
    color:blue;
}

#nombre:hover
{
    background-color: rgb(169, 0, 175);
    transition: 2000ms;
}

#apellido:hover
{
    background-color: rgb(169, 0, 175);
    transition: 2000ms;
}

#segNombre:hover
{
    background-color: rgb(169, 0, 175);
    transition: 2000ms;
}

#segApellido:hover
{
    background-color: rgb(169, 0, 175);
    transition: 2000ms;
}

.contact
{
    background: #cfcbb8;
    border-radius: 4px;
    font-family: cursive;
    padding: 1rem;
}

.hobbies
{
    border-bottom: solid 1px #f2f7f2;
}

p {
    background: #c9f7ef;
    border-radius: 4px;
    font-family: cursive;
    padding: 1rem;
}

.Estudiantes
{
    background-color: darkgray;
    font-family: Helvetica, sans-serif;
}