<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./#AboutMe">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./#Hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="./#Credits">Credits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="mainPageHeader" class="card">
  <div class="card">
    <div class="card-header">
      Angular
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>“Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo”.</p>
        <footer class="blockquote-footer"> <cite title="Source Title">Benjamin Franklin</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
<br/>
<div id="AboutMe">
  <span class="border">
    <img class="img-thumbnail" alt="Responsive image" id="AboutMeImg" src="../assets/personal_img.JPG" width="400" height="380"/>
    <p class="card-text">My name is Keylor and I'm a Web Development student learning about Angular.</p>
  </span>
</div>
<hr>
<br/>
<div id="Hobbies">
  <div class="card">
  <div class="card-header">My hobbies:</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Programming</li>
    <li class="list-group-item">Play Video Games</li>
    <li class="list-group-item">Drawing</li>
    <li class="list-group-item">Explore new places</li>
  </ul>
  </div>
</div>
<hr>  
<br/>
<div id="Credits">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/ucr.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Credits</h5>
      <p class="card-text">This is a main page for practicing to the course of Web Development.</p>
      <p class="card-text">Year: 2023</p>
      <p class="card-text">Creator: KeylexS</p>
    </div>
  </div>
</div>